<!DOCTYPE html>
<html>
  <head>
    <title>Flask Workshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- import plugin script -->
    <script src='static/Chart.min.js'></script>
  </head>
  <body>
    <h1>Flask Workshop</h1>

    <!-- bar chart canvas element -->
    <canvas id="chart" width="900" height="550">

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- chart data -->
    <script>
	   // bar chart data
	   var barData = {
	   labels : [{% for item in labels %}
	                  "{{item}}",
	              {% endfor %}],
	   datasets : [
	      {
	            fillColor: "rgba(151,187,205,0.2)",
	            strokeColor: "rgba(151,187,205,1)",
	            pointColor: "rgba(151,187,205,1)",
	         data : [{% for item in values %}
	                      {{item}},
	                    {% endfor %}]
	      }
	      ]
	   }
	 
	   // get bar chart canvas
	   var mychart = document.getElementById("chart").getContext("2d");
	 
	   steps = 10
	   max = 40
	   // draw bar chart
	   new Chart(mychart).Bar(barData, {
	        scaleOverride: true,
	        scaleSteps: steps,
	        scaleStepWidth: Math.ceil(max / steps),
	        scaleStartValue: 0,
	        scaleShowVerticalLines: true,
	        scaleShowGridLines : true,
	        barShowStroke : true,
	        scaleShowLabels: true
	   });
	</script>
  </body>
</html>